{% extends 'mango/base.html' %} {% block content %}
<h2>Products <a href="">New Product</a></h2>
<div class="container-card m-5">
  {% for product in products %}
  <div class="card m-3" style="width: 18rem; background: #F5F5F5;">
    <img
      class="card-img-top"
      style="height:190px"
      ;
      src="{{ product.product_image }}"
      alt="dog toy"
    />
    <div class="card-body">
      <p class="font-weight-bold">
        <a
          style="color: #234A5D;"
          href="{% url 'product_detail' pk=product.pk %}"
        >
          {{ product.name }}
        </a>
        <span style="float: right; color: #FE5F55;">
          ${{ product.price }}
        </span>
      </p>
      <a
        role="button"
        href="{% url 'addto_cart' pk=product.pk %}"
        style="margin-left: 25%; background: #FE5F55; color: white; border-radius: 30px"
        class="btn btn-outline-dark"
      >
        Add to Cart
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
